h1{
	text-align: center;
	padding-top: 2%;
}

body {
	height: 100%;
	background-color: #f2f2f2;
}

.event:hover {
	cursor: pointer;
}

.hidden {
	visibility: hidden;
	height: 0;
}

#calendar {
	height: 100vh !important;
}

.custom-container {
	width: 100%;
	padding: 20%;
}

select {
	field-sizing: content;
}

/* Category color codes */
.Academic {
	background-color: #e2acb6;
}

.Work {
	background-color: #b6e8a4;
} 

.Personal {
	background-color: #e5e8a4;
} 

.Social {
	background-color: #a4c1e8;
} 
